.testContain{
	height:100%;
	width:100%;
	position:relative;
}

#text { 
   position: absolute; 
   top:200px; 
   left: 30%; 
   
}

#insideText1 { 
   color: white; 
   font: bold 50px/77px Helvetica, Sans-Serif; 
   letter-spacing: 1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

#insideText2 { 
   color: white; 
   font: italic 35px/60px Helvetica, Sans-Serif; 
   letter-spacing: 1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

