

/*VERTICAL MENU*/
nav.vertical{
  position:auto;
  width:10%;
  height:65%;
	
}

/* ALL UL */
nav.vertical ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width:120px;
    height:auto;
    background-color: dodgerblue;;
}
/* ALL LI */
nav.vertical li{
  position:relative;
}
/* ALL A */
nav.vertical a{
  display:block;
  color:#eee;
  text-decoration:none;
  padding:10px 15px;
  background:dodgerblue;
  transition:0.2s;

}
/* ALL A HOVER */
nav.vertical li:hover > a{
  background:#778;
}

/* INNER UL HIDE */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:80px;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}